<div class="jumbotron">
	<h2>Hit List => Eliminate your Task Targets!</h2>
	<br>
	<h3>Hundreds of Targets eliminated daily, get your life ordered and under control now.</h3>
	<p class="welcome_text">Task Lists are neccessary for a productive and organized life. Unfortunately, they can also be boring. Hit List, boosts your productivity with an entertaining interface.</p>
	<p class="welcome_text">Set your Targets, provide intel, the systematically eliminate them until your objective is complete.</p>
	<%= link_to "Join Us Now!", new_user_registration_path, class: "btn btn-success btn-lg" %>
</div>