<% if user_signed_in? %>
	<h1>List of Verified Targets</h1>
	<% @items.each do |item| %>
		<h2><%= link_to item.title, item %></h2>
		<p><%= item.description %></p>
	<% end %>
<% else %>
	<%= render 'welcome_page' %>
<% end %>