<div class="col-md-10 col-md-offset-1">
	<h2><%= @item.title %></h2>
	<p><%= @item.description %></p>

	<div class="col-md-4 col-md-offset-4">
		<%= link_to "Back", root_path, class: "btn btn-info" %>
		<%= link_to "Alter Target details", edit_item_path, class: "btn btn-default" %>
		<%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure you want to do that, Dave?"} %>
	</div>
</div>