<!DOCTYPE html>
<html>
<head>
  <title>Hitlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "HitList", root_path, class: "navbar-brand" 	%>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user.present? %>
				<li><%= link_to "Sign Off", destroy_user_session_path, method: :delete %></li>
				<% else %>
				<li><%= link_to "Sign On", new_user_session_path %></li>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% end %>
				<% # comment %>
			</ul>
			<% if user_signed_in? %>
				<%= link_to "Add a Target", new_item_path, class: "navbar-text navbar-link" %>
			<% end %>

		</div>

	</nav>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
